<div class="flex items-center justify-between py-2 my-4 border-y">
    <span class="text-lg font-semibold font-barlow">Compártelo:</span>
    <div class="flex space-x-4 text-slate-400">
        <a class="hover:text-slate-900" href="https://twitter.com/intent/tweet?url={{url absolute='true'}}&amp;text={{encode title}}" target="_blank" rel="noopener">
            {{> icons/twitter}}
        </a>
        <a class="hover:text-slate-900" href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener">
            {{> icons/facebook}}
        </a>
        <a class="hover:text-slate-900" href="https://pinterest.com/pin/create/button/?url={{url absolute='true'}}&amp;media=&amp;description={{encode title}}" target="_blank" rel="noopener" data-pin-do="none">
            {{> icons/pinterest}}
        </a>
        <a class="hover:text-slate-900" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}&amp;title={{encode title}}" target="_blank" rel="noopener">
            {{> icons/linkedin}}
        </a>
        <a class="hover:text-slate-900" href="https://wa.me/?text={{url absolute='true'}}" target="_blank" rel="noopener">
            {{> icons/whatsapp}}
        </a>
        <a class="hover:text-slate-900" href="mailto:?subject=¡Esto te podría gustar!&amp;body={{url absolute='true'}}">
            {{> icons/mail}}
        </a>
    </div>
</div>