<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{asset "built/index.css"}}" />
        <script src="{{asset "built/index.js"}}" defer></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href='https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900' rel='stylesheet' />
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.30.0/tocbot.css">
        <title>Error | Panel Uno</title>

        {{ghost_head}}
        {{!-- Outputs important meta data and settings, should always be in <head> --}}

    </head>
    <body class="{{body_class}}" x-data=" { openMenu : false }" :class="openMenu ? 'overflow-hidden' : 'overflow-visible' ">
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
        <div class="gh-viewport">

            {{> header}}

            <main class="flex flex-col items-center justify-center min-h-screen">

                <h1 class="text-6xl font-black font-barlow">{{statusCode}}</h1>
                <p class="text-3xl font-barlow">{{message}}</p>
                <p class="mt-6 text-2xl font-barlow">
                    <a href="{{@site.url}}" class="text-brand-500 hover:underline underline-offset-4">
                        Volver al inicio
                    </a>
                </p>

                {{#if errorDetails}}
                    <section>
                    <h4>Theme errors:</h4>
                        <ul class="gh-error-stack-list">
                            {{#foreach errorDetails}}
                                <li>
                                    <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                                    {{#foreach failures}}
                                    <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                                    <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                                    {{/foreach}}
                                </li>
                            {{/foreach}}
                        </ul>
                    </section>
                {{/if}}
            </main>

            {{> footer}}

        </div>

        {{!-- <foot> --}}
        {{ghost_foot}}
        {{!-- Outputs important scripts - should always be included before closing body tag --}}
        <script src="//unpkg.com/alpinejs" defer></script>
    </body>
</html>
